---
# yamllint disable rule:line-length
name: lint

on:
  pull_request:
  schedule:
  - cron: '0 5 * * 1'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  detect-changes:
    uses: ppat/github-workflows/.github/workflows/detect-changed-files.yaml@b62897fd95e2274bfb096f275a7e5588d61bb1c3 # v3.0.1
    with:
      # yamllint disable-line rule:indentation
      files_yaml: |
        actions:
        - .github/workflows/**.yaml
        kubernetes:
        - 'clusters/**/*.yaml'
        - 'ci/**/*.yaml'
        - 'policies/**/*.yaml'
        markdown:
        - '**.md'
        - '!**/CHANGELOG.md'
        renovate:
        - .github/renovate.json
        - .github/renovate/**
        shellscripts:
        - '**.sh'
        yaml:
        - '**.yaml'
      git_ref: ${{ github.head_ref || github.ref }}

  commit-messages:
    if: ${{ github.event_name == 'pull_request' }}
    uses: ppat/github-workflows/.github/workflows/lint-commit-messages.yaml@b62897fd95e2274bfb096f275a7e5588d61bb1c3 # v3.0.1
    with:
      git_ref: ${{ github.head_ref }}
      fetch_depth: ${{ github.event.pull_request.commits || 0 }}
      from: ${{ github.event.pull_request.head.sha || 'HEAD' }}~${{ github.event.pull_request.commits || '1' }}
      to: ${{ github.event.pull_request.head.sha || 'HEAD' }}

  github-actions:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).actions_any_changed == 'true' }}
    uses: ppat/github-workflows/.github/workflows/lint-github-actions.yaml@b62897fd95e2274bfb096f275a7e5588d61bb1c3 # v3.0.1
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      files: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).actions_all_changed_files }}

  kubernetes-manifests:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).kubernetes_any_changed == 'true' }}
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        fetch-depth: 1
        persist-credentials: false

    - name: Format file list for validation
      id: format-files
      shell: bash
      # yamllint disable-line rule:indentation
      run: |
        changed_files="${{ github.event_name == 'pull_request' && fromJSON(needs.detect-changes.outputs.results).kubernetes_all_changed_files || '' }}"
        if [[ -n "$changed_files" ]]; then
          # Convert space-delimited string to a JSON array string
          echo "$changed_files" | tr ' ' '\n' | jq -R . | jq -s -c . > /tmp/files.json
          echo "files_json=$(cat /tmp/files.json)" >> $GITHUB_OUTPUT
        else
          echo "files_json=[]" >> $GITHUB_OUTPUT
        fi

    - name: Validate Kubernetes Manifests
      uses: ppat/validate-kubernetes-manifests@5d636c48ee2efae25f45f52a105192f6e2f030e4 # v0.1.7
      with:
        files: ${{ steps.format-files.outputs.files_json }}
        pkg-include: '["clusters/*","policies/*"]'
        pkg-exclude: '["components/*",".archive/*"]'
        kubeconform-flags: '-skip=Secret,IPAddressPool'
        env-file: 'ci/validation/.env'
        base-kustomization-file: 'ci/validation/kustomization.yaml'
        debug: true

  markdown:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).markdown_any_changed == 'true' }}
    uses: ppat/github-workflows/.github/workflows/lint-markdown.yaml@b62897fd95e2274bfb096f275a7e5588d61bb1c3 # v3.0.1
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      files: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).markdown_all_changed_files }}

  pre-commit:
    uses: ppat/github-workflows/.github/workflows/lint-pre-commit.yaml@b62897fd95e2274bfb096f275a7e5588d61bb1c3 # v3.0.1
    with:
      git_ref: ${{ github.head_ref || github.ref }}

  renovate-config-check:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).renovate_any_changed == 'true' }}
    uses: ppat/github-workflows/.github/workflows/lint-renovate-config-check.yaml@b62897fd95e2274bfb096f275a7e5588d61bb1c3 # v3.0.1
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      files: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).renovate_all_changed_files }}

  shellcheck:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).shellscripts_any_changed == 'true' }}
    uses: ppat/github-workflows/.github/workflows/lint-shellcheck.yaml@b62897fd95e2274bfb096f275a7e5588d61bb1c3 # v3.0.1
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      files: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).shellscripts_all_changed_files }}

  yaml:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).yaml_any_changed == 'true' }}
    uses: ppat/github-workflows/.github/workflows/lint-yaml.yaml@b62897fd95e2274bfb096f275a7e5588d61bb1c3 # v3.0.1
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      files: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).yaml_all_changed_files }}
